html,
body {
  height: 100%;
}

.fill-height {
  min-height: 100% !important;
  height: auto !important;
  /* cross-browser */
  height: 100% !important;
  /* cross-browser */
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.blog-image {
    border-radius: 10px;
}
.profile-img-container {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.profile-img {
  border-radius: 75px;
}

.profile {
  border-top-right-radius: 150px 50px;
  border-bottom-right-radius: 150px 50px;
}

.how-about-header {
  border-top-left-radius: 150px 65px;
  border-bottom-right-radius: 75px 25px;
}
